*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    padding: 0.75rem;
}
nav img{
    width: 12.9375rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgba(84, 84, 84, 0.563);
    width:39.375rem ;
    height:39.375rem ;
    border-radius:4.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 4px 45px black;
}
.boxes{
    display: flex;
    flex-direction: column;
    font-size: 1.6875rem;
    height: 50%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.elements{
    font-size: 1.875rem;
}
::placeholder{
    color: rgb(84, 62, 62);
}
button{
    width: 20%;
    height: 15%;
    border-radius: 1.5625rem;
    background-color: #D8F5BC;
}
input{
    width: 80%;
    height: 15%;
    border-radius: 1.2307692308rem;
}
#box1 input{
    background-color:#6CCCD3;
}
#box2 input{
    background-color:#DC9292;
}
footer{
    background-color: #2D2727;
    width: 100%;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
    font-weight: bold;
    /* text-align: center; */
}
@media (max-width:1000px) {
    :root{
        font-size: 14px;
    }
    .container{
        height: 50rem;
    }
}

@media (max-width:700px) {
    :root{
        font-size: 12px;
    }
    .container{
        height: 55rem;
    }
}
@media (max-width:550px) {
    :root{
        font-size: 10px;
    }
    .container{
        height: 65rem;
    }
}
@media (max-width:440px) {
    :root{
        font-size: 8px;
    }
    .container{
        height: 65rem;
    }
}
@media (max-width:370px) {
    :root{
        font-size: 6px;
    }
    .container{
        height: 80rem;
    }
}
@media (max-width:290px) {
    :root{
        font-size: 4px;
    }
    .container{
        height: 90rem;
    }
}
@media (max-width:200px) {
    :root{
        font-size: 2px;
    }
    .container{
        height: 100rem;
    }
}